In [1]:
import pandas as pd
import statsmodels.api as sm
import math as m

In [5]:
dataset = pd.read_excel('C:/AI-ML Files/Day 21 Dataset/Bank_Personal_Loan_Modelling.xlsx', sheet_name=1)
dataset.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [6]:
dataset = dataset.drop(columns = ['ID', 'ZIP Code'])
dataset.drop_duplicates(inplace=True)
dataset.shape

(4987, 12)

In [18]:
Y = dataset['Personal Loan']
X = dataset[['Age','Experience','Income','Family','CCAvg','Education','Mortgage','Securities Account','CD Account','Online',
            'CreditCard']]

In [19]:
X1 = sm.add_constant(X)
Logistic = sm.Logit(Y,X1)

In [20]:
result = Logistic.fit()

Optimization terminated successfully.
         Current function value: 0.128720
         Iterations 9

In [21]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:          Personal Loan   No. Observations:                 4987
Model:                          Logit   Df Residuals:                     4975
Method:                           MLE   Df Model:                           11
Date:                Sat, 08 Aug 2020   Pseudo R-squ.:                  0.5936
Time:                        14:50:34   Log-Likelihood:                -641.93
converged:                       True   LL-Null:                       -1579.7
Covariance Type:            nonrobust   LLR p-value:                     0.000
======================================================================================
                         coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------
const                -12.1727      1.645     -7.399      0.000     -15.397      -8.948
Age                   -0.0541      0.061     -0.882      0.378      -0.174       0.066
Experience             0.0642      0.061      1.054      0.292      -0.055       0.184
Income                 0.0545      0.003     20.822      0.000       0.049       0.060
Family                 0.6947      0.074      9.348      0.000       0.549       0.840
CCAvg                  0.1236      0.040      3.117      0.002       0.046       0.201
Education              1.7363      0.115     15.091      0.000       1.511       1.962
Mortgage               0.0005      0.001      0.848      0.396      -0.001       0.002
Securities Account    -0.9371      0.286     -3.280      0.001      -1.497      -0.377
CD Account             3.8181      0.324     11.788      0.000       3.183       4.453
Online                -0.6724      0.157     -4.280      0.000      -0.980      -0.364
CreditCard            -1.1181      0.205     -5.454      0.000      -1.520      -0.716
======================================================================================
"""

# Inference

When a bank wants to offer a loan, the following factors are highly significant:
    
A. Annual Income of the coustmer.

B. Family size of the coustmer.

C. Education Level-
    1. Undergrad
    2. Graduate
    3. Advanced/Professional

D. Does the coustmer have a Certificate of Deposit(CD) account with the bank?

E. Does the coustmer use internet banking facilities?

F. Does the coustmer use a credit card issued by UniversalBank?

The following factors are also significant to some extent:
    
A. Avg. spending on Credit Cards per month

B. Does the coustmer have a securities account with the bank?

# Attrition

In [13]:
dsa = pd.read_csv('C:/AI-ML Files/Day 21 Dataset/general_data.csv')
dsa.shape

(4410, 24)

In [14]:
dsa.dropna(inplace = True)
dsa.shape

(4382, 24)

In [15]:
dsa.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [22]:
dsa = dsa.drop(columns = ['EmployeeID','EmployeeCount','Over18','StandardHours'])

In [23]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
dsa['Attrition'] = le.fit_transform(dsa['Attrition'])
dsa['BusinessTravel'] = le.fit_transform(dsa['BusinessTravel'])
dsa['EducationField'] = le.fit_transform(dsa['EducationField'])
dsa['Gender'] = le.fit_transform(dsa['Gender'])
dsa['Department'] = le.fit_transform(dsa['Department'])
dsa['MaritalStatus'] = le.fit_transform(dsa['MaritalStatus'])
dsa['JobRole'] = le.fit_transform(dsa['JobRole'])

In [24]:
Y1 = dsa['Attrition']
X2 = dsa.drop(columns = ['Attrition'])

In [25]:
X3 = sm.add_constant(X2)
Logistic1 = sm.Logit(Y1,X3)

In [26]:
res = Logistic1.fit()

Optimization terminated successfully.
         Current function value: 0.392916
         Iterations 7

In [27]:
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:              Attrition   No. Observations:                 4382
Model:                          Logit   Df Residuals:                     4362
Method:                           MLE   Df Model:                           19
Date:                Sat, 08 Aug 2020   Pseudo R-squ.:                  0.1093
Time:                        14:51:19   Log-Likelihood:                -1721.8
converged:                       True   LL-Null:                       -1933.1
Covariance Type:            nonrobust   LLR p-value:                 8.681e-78
===========================================================================================
                              coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------
const                       0.0270      0.414      0.065      0.948      -0.785       0.839
Age                        -0.0307      0.007     -4.478      0.000      -0.044      -0.017
BusinessTravel             -0.0137      0.066     -0.209      0.834      -0.143       0.115
Department                 -0.2229      0.082     -2.735      0.006      -0.383      -0.063
DistanceFromHome           -0.0012      0.005     -0.231      0.818      -0.012       0.009
Education                  -0.0664      0.043     -1.555      0.120      -0.150       0.017
EducationField             -0.0954      0.034     -2.849      0.004      -0.161      -0.030
Gender                      0.0855      0.090      0.952      0.341      -0.091       0.262
JobLevel                   -0.0285      0.040     -0.716      0.474      -0.107       0.050
JobRole                     0.0400      0.018      2.226      0.026       0.005       0.075
MaritalStatus               0.5835      0.063      9.212      0.000       0.459       0.708
MonthlyIncome           -1.815e-06   9.57e-07     -1.897      0.058   -3.69e-06    6.01e-08
NumCompaniesWorked          0.1174      0.018      6.390      0.000       0.081       0.153
PercentSalaryHike           0.0126      0.012      1.067      0.286      -0.011       0.036
StockOptionLevel           -0.0675      0.052     -1.302      0.193      -0.169       0.034
TotalWorkingYears          -0.0584      0.012     -4.873      0.000      -0.082      -0.035
TrainingTimesLastYear      -0.1443      0.035     -4.097      0.000      -0.213      -0.075
YearsAtCompany              0.0132      0.018      0.718      0.473      -0.023       0.049
YearsSinceLastPromotion     0.1328      0.020      6.479      0.000       0.093       0.173
YearsWithCurrManager       -0.1394      0.022     -6.288      0.000      -0.183      -0.096
===========================================================================================
"""

# Inference

The following factors highly affect attrition in employees:

A. Age of the employee.

B. Marital status of the employee. 

C. Total number of companies the employee has worked for.

D. Total number of years the employee has worked so far.

E. Number of times training was conducted for this employee last year

F. Number of years since last promotion.

G. Number of years under current manager.

The following factors also affect attrition in employees:

A. Department in company

B. Field of education.