# Hypothesis 1

Null Hypothesis:

- The mean age of an employee who has attrited is equal to 32

Alternative Hypothesis:

- The mean age of an employee who has attrited is not equal to 32

The age of an employee who has attrited has a standard deviation of 9.67.

To determine if this is true, a sample of 70 attrited employees was taken and their mean age was found to be 34.

# Hypothesis 2

Null Hypothesis:

- The mean monthly income of attrited employees is equal to Rs.60,000

Alternative Hypothesis:

- The mean monthly income of attrited employees is not equal to Rs.60,000.

To determine if this is true, a sample of 70 attrited employees was taken and their mean monthly income was found to be Rs.64,650.

The monthly income of attrited employees has a standard deviation of 44890

# Hypothesis 3

Null Hypothesis:

- The mean years at company of attrited employees is greater than or equal to 3 years

Alternative Hypothesis:

- The mean years at company of attrited employees is less than 3 years

To determine if this is true,a sample of 70 attrited employees was taken at random and their mean years at the comapny was found to be 4.44 years

The years at company of attrited employees has a standard deviation of 5.96

# Hypothesis 4

Null Hypothesis:

- The mean age of employees who have not attrited is equal to 38 years

Alternative Hypothesis:

- The mean age of employees who have not attrited is not equal to 38 years

In order to test this claim, a sample of 70 employees who have not attrited was taken at random and their mean age was found to be 36

The age of employees who have not attrited has a standard devaition of 8.89

# Hypothesis 5

Null Hypothesis:

- Mean of total working years of attrited employees is less than or equal to 7 years

Alternative Hypothesis:

- Mean of total working years of attrited employees is greater than 7 years

In order to test this claim, a sample of 70 employees who have attrited was taken at random and their mean working years was found to be 8

Total working years of attrited employees has a standard deviation of 7.17

# Hypothesis 6

Null Hypothesis:

- The average number of years spent by an attrited employee with current manager is equal to 4

Alternative Hypothesis:

- The average number of years spent by an attrited employee with current manager is not equal to 4

In order to test this claim, a sample of 25 employees who have attrited was taken at random and their average number of years spent with current manager was found to be equal to 2.12

The number of years spent by an attrited employee with current manager has a standard deviation of 3.14

# Hypothesis 7

Null Hypothesis:

- The average number of years spent by a non-attrited employee with current manager is greater than or equal to 4

Alternative Hypothesis:

- The average number of years spent by a non-attrited employee with current manager is less than 4

In order to test this claim, a sample of 70 employees who have not attrited was taken at random and their average number of years spent with current manager was found to be equal to 3.80

The number of years spent by a non-attrited employee with current manager has a standard deviation of 3.59

# Hypothesis 8

Null Hypothesis:

- The mean pecentage in salary hike of the attrited employees is greater than or equal to 17%

Alternative Hypothesis:

- The mean pecentage in salary hike of the attrited employees is less than 17

In order to test this claim, a sample of 25 employees who have attrited was taken at random and mean pecentage in their salary hike was found to be equal to 16.01%

The pecentage in salary hike of the attrited employees has a standard deviation of 3.78

# Hypothesis 9

Null Hypothesis:

- The mean salary of attrited employees who have worked in more than 4 companies is equal to Rs.56,000

Alternative Hypothesis:

- The mean salary of attrited employees who have worked in more than 4 companies is not equal to Rs.56,000

In order to test this claim, a sample of 100 employees who have attrited and worked in more than 4 companies was taken at random and mean salary was found to be Rs 57,955

The salary of attrited employees who have worked in more than 4 companies has a standard deviation of 46344

# Hypothesis 10

Null Hypothesis:

- The mean pecentage in salary hike of the attrited employees who took training more than 3 times in the previous year is found to be greater than or equal to 18%

Alternative Hypothesis:

- The mean pecentage in salary hike of the attrited employees who took training more than 3 times in the previous year is found to be less than 18%

In order to test this claim, a sample of 25 employees who have attrited and took training more than 3 times in the previous year was taken at random and their mean percentage in salary hike was found to be 17.28%

The pecentage in salary hike of the attrited employees who took training more than 3 times in the previous year has a standard deviation of 4.32