**Question 1**

Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.

Input Format:

The first line of the input contains an email address.

Output Format:

Print the company name in single line.

Example;

Input:

john@google.com

Output:

google

In [7]:
import re
a = input("Enter the email address of the company: \n")

r = "(\w+)@(\w+)+(\.com)"

x = re.match(r,a)

print ("The Company name of given email address is - ",x.group(2))

Enter the email address of the company:
hi@ola.com
The Company name of given email address is -  ola

**Question 2**

Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.

Input Format:

The first line of input contains words separated by the comma.

Output Format:

Print the sorted words separated by the comma.

Example:

Input:

without,hello,bag,world

Output:

bag,hello,without,world

In [3]:
a = input("Enter the words to be separated: \n").split(',')
words = [i for i in a]
words.sort()

print("The words after sorting alphabetically are:")
print(','.join(words))

Enter the words to be separated:
hi, hey, boy, art, good
The words after sorting alphabetically are:
 art, boy, good, hey,hi

**Question 3**

Create your own Jupyter Notebook for Sets.

The Jupyter notebook for this question has been created separately and uploaded in the same folder along with this notebook.

**Question 4**

Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

Input Format:

The first line contains n-1 numbers with each number separated by a space.

Output Format:

Print the missing number

Example:

Input:1 2 4 6 3 7 8

Output:5

Explanation:

In the above list of numbers 5 is missing and hence 5 is the input

In [2]:
x = list(map(int,input("Input the value of the list: \n").split()))

for i in range(x[0], x[-1]+1):
  if i not in x:
    print ("THe missing value from list is: ", i)

Input the value of the list:
1 2 3 4 6 7
THe missing value from list is:  5

**Question 5**

With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

Example:

If the input list is
12 24 35 24 88 120 155 88 120 155

Then the output should be

12 24 35 88 120 155

Explanation:

Third, seventh and ninth element of the list L has been removed because it was already present.

Input Format:

In one line take the elements of the list L with each element separated by a space.

Output Format:

Print the elements of the modified list in one line with each element separated by a space.

Example:

Input: 12 24 35 24

Output:
12 24 35

In [3]:
list1 = [10, 11, 12, 13, 14, 15, 14, 13, 12, 11, 10]

list2 = []

for n in list1:
  if n not in list2:
    list2.append(n)

print ("Original List is: \n", list1)

print ("The list after removing duplicate elements is: \n", list2)

Original List is:
 [10, 11, 12, 13, 14, 15, 14, 13, 12, 11, 10]
The list after removing duplicate elements is:
 [10, 11, 12, 13, 14, 15]