# Question 3

Create your own Jupyter Notebook for Sets.

# SETS

A set is a collection which is unordered and unindexed.

Sets are written in curly braces.

In [1]:
# Example for Set

set = {"Bangalore", "Mumbai", "Delhi"}
print (set)

{'Delhi', 'Mumbai', 'Bangalore'}

# Access to Set Elements

You can not access the elements in the set with the help of index, since sets are unordered, the elements has no index.

But with the help of for loop, the elements of the set can be accessed.

In [2]:
# Example for accessing elements of set

set = {"Bangalore", "Mumbai", "Delhi"}

for x in set:
    print(x)

Delhi
Mumbai
Bangalore

# Change Elements of Set

Once a set is created, you cannot change its items, but you can add new items.

# Add Elements to Set

To add one element to a set use the add() method.

To add more than one elements to a set use the update() method.

In [3]:
# Adding element in set using add() method

set = {"Bangalore", "Mumbai", "Delhi"}

set.add("Chennai")

print (set)

{'Delhi', 'Mumbai', 'Chennai', 'Bangalore'}

In [4]:
# Adding elements in set using update() method

set = {"Bangalore", "Mumbai", "Delhi"}

set.update (["Pune", "Chandigarh"])

print (set)

{'Mumbai', 'Pune', 'Delhi', 'Chandigarh', 'Bangalore'}

# Length of Set

To identify the length of set, we use len() method.

In [5]:
# Finding length of set using len() method

set = {"Bangalore", "Mumbai", "Delhi"}

print (len(set))

3

# Remove element from Set

If you want to remove an element from the set, you can use remove() or discard() method.

In [6]:
# Removing element from set using remove() method

set = {"Bangalore", "Mumbai", "Delhi"}

set.remove("Mumbai")

print (set)

{'Delhi', 'Bangalore'}

In [8]:
# Removing element from set using discard() method

set = {"Bangalore", "Mumbai", "Delhi"}

set.discard("Mumbai")

print (set)

{'Delhi', 'Bangalore'}

Along with remove() and discard(), to remove an element from the set, we can also use pop() method.

In [9]:
# Removing element from set using pop() method

set = {"Bangalore", "Mumbai", "Delhi"}

a = set.pop()

print (a)

print (set)

Delhi
{'Mumbai', 'Bangalore'}

In [10]:
# Removing all elements from set using clear() method

set = {"Bangalore", "Mumbai", "Delhi"}
set.clear()

print(set)

set()

# Join Two Sets

You can use the union() method that returns a new set containing all elements from both sets, or the update() method that inserts all the elements from one set into another.

In [11]:
# Joining two sets using union() methods

set1 = {"Bangalore", "Mumbai", "Delhi"}
set2 = {"Chandigarh", "Chennai", "Mysore"}

set3 = set1.union(set2)

print (set3)

{'Chennai', 'Mysore', 'Delhi', 'Mumbai', 'Chandigarh', 'Bangalore'}

In [13]:
# Joining two sets using update() methods

set1 = {"Bangalore", "Mumbai", "Delhi"}
set2 = {"Chandigarh", "Chennai", "Mysore"}

set1.update(set2)

print (set1)

{'Chennai', 'Mysore', 'Delhi', 'Mumbai', 'Chandigarh', 'Bangalore'}

# The Set() Constructor

It is also possible to use the set() constructor to make a set.

In [14]:
# Constructing set() using set() constructor

set = (("Bangalore", "Mumbai", "Delhi"))

print (set)

('Bangalore', 'Mumbai', 'Delhi')

# Sets in-built Methods

Python has a set of built-in methods that you can use on sets.

In [1]:
# Python in-built add() method

set = {"Bangalore", "Mumbai", "Delhi"}

set.add("Chennai")

print (set)

{'Mumbai', 'Delhi', 'Chennai', 'Bangalore'}

In [2]:
# Python in-built clear() method

set = {"Bangalore", "Mumbai", "Delhi"}
set.clear()

print(set)

set()

In [3]:
# Python in-built copy() method

set = {"Bangalore", "Mumbai", "Delhi"}
set.copy()

print (set)

{'Mumbai', 'Delhi', 'Bangalore'}

In [5]:
# Python in-built difference() method

set1 = {"Bangalore", "Mumbai", "Delhi"}
set2 = {"Mumbai", "Chandigarh", "Mysore"}

set3 = set1.difference(set2)

print (set3)

{'Delhi', 'Bangalore'}

In [7]:
# Python in-built difference_update() method

set1 = {"Bangalore", "Mumbai", "Delhi"}
set2 = {"Mumbai", "Chandigarh", "Mysore"}

set1.difference_update(set2)

print (set1)

{'Delhi', 'Bangalore'}

In [8]:
# Python in-built discard() method

set = {"Bangalore", "Mumbai", "Delhi"}

set.discard("Mumbai")

print (set)

{'Delhi', 'Bangalore'}

In [9]:
# Python in-built intersection() method

set1 = {"Bangalore", "Mumbai", "Delhi"}
set2 = {"Mumbai", "Chandigarh", "Mysore"}

set3 = set1.intersection(set2)

print (set3)

{'Mumbai'}

In [10]:
# Python in-built intersection_update() method


set1 = {"Bangalore", "Mumbai", "Delhi"}
set2 = {"Mumbai", "Chandigarh", "Mysore"}

set1.intersection_update(set2)

print (set1)

{'Mumbai'}

In [12]:
#Python in-built isdisjoint() method

set1 = {"Bangalore", "Mumbai", "Delhi"}
set2 = {"Mumbai", "Chandigarh", "Mysore"}

set3 = set1.isdisjoint(set2)

print (set3)

False

In [13]:
# Python in-built issubset() method

set1 = {"Bangalore", "Mumbai", "Delhi"}
set2 = {"Mumbai", "Chandigarh", "Mysore"}

set3 = set1.issubset(set2)

print (set3)

False

In [14]:
# Python in-built issuperset() method

set1 = {"Bangalore", "Mumbai", "Delhi"}
set2 = {"Mumbai", "Chandigarh", "Mysore"}

set3 = set1.issuperset(set2)

print (set3)

False

In [15]:
# Python in-built pop() method

set = {"Bangalore", "Mumbai", "Delhi"}

a = set.pop()

print (a)

print (set)

Mumbai
{'Delhi', 'Bangalore'}

In [16]:
# Python in-built remove() method

set = {"Bangalore", "Mumbai", "Delhi"}

set.remove("Mumbai")

print (set)

{'Delhi', 'Bangalore'}

In [17]:
# Python in-built symmetric_difference() method

set1 = {"Bangalore", "Mumbai", "Delhi"}
set2 = {"Mumbai", "Chandigarh", "Mysore"}

set3 = set1.symmetric_difference(set2)

print (set3)

{'Chandigarh', 'Mysore', 'Delhi', 'Bangalore'}

In [20]:
# Python in-built symmetric_difference_update() method

set1 = {"Bangalore", "Mumbai", "Delhi"}
set2 = {"Mumbai", "Chandigarh", "Mysore"}

set1.symmetric_difference_update(set2)

print (set1)

{'Chandigarh', 'Mysore', 'Delhi', 'Bangalore'}

In [21]:
# Python in-built union() method

set1 = {"Bangalore", "Mumbai", "Delhi"}
set2 = {"Chandigarh", "Chennai", "Mysore"}

set3 = set1.union(set2)

print (set3)

{'Mumbai', 'Chandigarh', 'Mysore', 'Delhi', 'Chennai', 'Bangalore'}

In [23]:
# Python in-built update() method

set1 = {"Bangalore", "Mumbai", "Delhi"}
set2 = {"Chandigarh", "Chennai", "Mysore"}

set1.update(set2)

print (set1)

{'Mumbai', 'Chandigarh', 'Mysore', 'Delhi', 'Chennai', 'Bangalore'}